// HEADER NAV BAR
nav.navbar.navbar-lobitos.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle( type="button" data-toggle="collapse" data-target="#navbar" )
				span.sr-only 30 Lobitos
				span.icon-bar 
				span.icon-bar
				span.icon-bar
			a.navbar-brand.logo( href="/" ) 30 Lobitos

		div.navbar-collapse.collapse( id="navbar" )

			ul.nav.navbar-nav.pull-left
				li
					a( href="/about" ng-class="{ active: isActive('/about') }" )
						span {{ 'about' | translate }}
				li
					a( href="/care" ng-class="{ active: isActive('/care') }")
						span {{ 'care' | translate }}
				li
					a( href="/team" ng-class="{ active: isActive('/team') }")
						span {{ 'team' | translate }}
				li
					a( href="/parent" ng-class="{ active: isActive('/parent') }")
						span {{ 'parent' | translate }}
				li
					a( href="/dependencies" ng-class="{ active: isActive('/dependencies') }")
						span {{ 'dependencies' | translate }}		
				li
					a( href="/contact" ng-class="{ active: isActive('/contact') }")
						span {{ 'contact' | translate }}

			ul.nav.navbar-nav.navbar-right

				li.navbar-form( ng-show="user.isAuthenticated == false")
					button.btn.btn-red( ng-click="signUp($event)")
						span {{ 'signup' | translate }}

				li.navbar-form( ng-show="user.isAuthenticated == false" )
					button.btn.btn-red(
						popover-title="{{ template.title}}"
						popover="{{ template.content}}"
						popover-template="{{ template.templateUrl }}"
						popover-placement="bottom"
						popover-animation="true")
						//ng-click="openSignInDialog($event)"
						span.glyphicon.glyphicon-user {{system.message}}

				li.navbar-form( ng-show="user.isAuthenticated == true" )
					include menu

				li.navbar-form
					include languages

			

