div.btn-group
   div( class="btn-group" dropdown is-open="status.isLanguageOpen" )
      button(
         type="button"
         class="btn btn-red dropdown-toggle"
         dropdown-toggle=""
         ng-disabled="disabled"
         aria-haspopup="true"
         aria-expanded="true" ) {{ lang.text }}
            span.caret

      ul.dropdown-menu
         li( ng-repeat="lang in providers.languages" )
            a( ng-click="useLang(lang)" ) {{ lang.text }}